a {
  width: 75px; 
  padding: 10px;
  text-decoration: none;
  background-color: aliceblue;color: black;
  border-radius: 10px;
}

a:hover {
background-color: black;color: aliceblue;
transition: background-color 3s 0s, color 2s 1s;
}